@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Showcase -->
<section class="bg-dark text-light text-center p-5 " >
    <div class="container">
        <div >
            <div class="align-items-center fw-bolder">
                <h2><a class= "btn btn-danger"asp-controller="InterestCalculator" asp-action="Calcs"><span class="text-warning">Compound Interest Calculator</span></a></h2>
            </div>
            <img class="img-fluid w-50 p-3 p-3 mb-5 rounded-circle" src="https://e1.pxfuel.com/desktop-wallpaper/223/524/desktop-wallpaper-money-backgrounds-group-dark-money.jpg" alt="Hello" />
        </div>
    </div>
</section>

<div class="bg-dark">
    <div class="container">
        <h1>Hi</h1>
    </div>
</div>



