@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="align-items-center text-center">
        <h1>Input Details</h1>

        <p>Please enter values</p>
        <form method="post">
            <div class="mb-3">
                <label for="addeposit" class="form-label">Deposit</label><br />
                <input id="addeposit" name="addeposit" type="number" />
                <br />



                <label for="years" class="form-label">Number of Years</label><br />
                <input name="years" type="number" /><br />

                <label for="rate" class="form-label">Interest Rate</label><br />
                <input name="rate" type="number" />

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </form>
    </div>
</div>


