@{
    double totalAmount = ViewBag.Deposit;
}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<table border="1">
    <tr>
        <th>Year</th>
        <th>Interest Amount</th>
        <th>Total Amount</th>
    </tr>
    @for (int i = 1; i <= ViewBag.NumberOfYears; i++)
    {
        <tr>
            <td>@i</td>
            @{


                double interestAmount = totalAmount * Math.Pow((1 + (ViewBag.InterestRate / 100) / 12), (12 * 1));
                interestAmount -= totalAmount;
                interestAmount = Math.Round(interestAmount, 2);
                totalAmount += interestAmount;
                totalAmount = Math.Round(totalAmount, 2);
            }
            <td>£@interestAmount</td>
            <td>£@totalAmount</td>

        </tr>


    }
</table>

<p>Total balance after @ViewBag.NumberOfYears years is £@totalAmount</p>



